[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
django = "==2.2.13"
psycopg2-binary = "==2.8.3"
djangorestframework = "==3.10.3"
drf-extensions = "==0.5.0"
celery = "==4.3.0"
redis = "==3.3.8"
beautifulsoup4 = "==4.8.0"
lxml = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
